body {
  font-family: Impact, sans-serif;
  background: linear-gradient(to right, #c51d1d, #1414c7ba); /* Dégradé de rouge à bleu */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixe le fond pour éviter qu'il ne bouge */
  background-size: cover; /* Remplit tout l'écran */
  width: 100vw;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
